@model Sondage.Models.nbVotesQuestionChoix
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Home">Créer un sondage</a></li>
        <li><a href="SondagesRecents">Sondage récents</a></li>
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>
        <li><a href="BoiteaIdees">Boîte à idées</a></li>
        <li style="float:right"><a href="Contact">Contact</a></li>
    </ul>






    <div id="canvas-holder" style="width:40%">
        <canvas id="chart-area" />
    </div>
    <script>

        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                                  @Model._NbVotesChoix[0],
                                  @Model._NbVotesChoix[1],
                                  @Model._NbVotesChoix[2],
                                  @Model._NbVotesChoix[3]

                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                    ],
                    label: @Model._Question (@Model._NbVotesQuestion votes)
                }],
                labels: [
                    @Model._ListeChoix[0],
                    @Model._ListeChoix[1],
                    @Model._ListeChoix[2],
                    @Model._ListeChoix[3]

                ]
            },
            options: {
                responsive: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.monGraph = new Chart(ctx, config);
        };

    </script>
    <img src="/Content/agedepierre.png" id="imgenbas" />
</body>
</html>