@model Sondage.Models.nbVotesQuestionChoix
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        
        var data = google.visualization.arrayToDataTable([
          ['Choix', 'Pourcentage'],
          ['@Model.ListeChoix[0]',@Model.NbVotesChoix[0]],
          ['@Model.ListeChoix[1]',@Model.NbVotesChoix[1]],
          ['@Model.ListeChoix[2]',@Model.NbVotesChoix[2]],
          ['@Model.ListeChoix[3]',@Model.NbVotesChoix[3]]
              ]);
          var options = {
              backgroundColor: 'darkslategrey',


        };
              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
              chart.draw(data, options);
      }
    </script>
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Creation">Créer un sondage</a></li>        
        <li><a href="SondagesPopulaires">Sondage populaires</a></li> 
        <li><a href="SondagesRecents">Sondage récents</a></li>       
        <li style="float:right"><a href="Contact">Contact</a></li>
    </ul>
   
    <div id="conteneur">
        <div id="texte">
            <h2>@Model.Question (@Model.NbVotesQuestion votes)</h2>
            <br />
            <br />            
            <table>
                <tr>
                    <th>Choix</th>
                    <th>Nombre de votes</th>
                    <th>Pourcentage de votes</th>
                </tr>
                @{
                    int nbVotesTotal = 0;
                    foreach (var nbVotes in Model.NbVotesChoix)
                    {
                        nbVotesTotal = nbVotesTotal + nbVotes;
                    }
                    for (int i = 0; i < Model.ListeChoix.Count(); i++)
                    {
                        float percent = 0;
                        if (Model.NbVotesQuestion != 0)
                        {
                            if (Model.TypeChoix)
                            {
                                percent = (float)(Model.NbVotesChoix[i]) / (float)(nbVotesTotal) * 100;
                            }
                            else
                            {
                                percent = (float)(Model.NbVotesChoix[i]) / (float)(Model.NbVotesQuestion) * 100;
                            }
                        }
                        <tr>
                            <td>@Model.ListeChoix[i]</td>
                            <td>@Model.NbVotesChoix[i]</td>
                            <td>@percent %</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </div>
   

    <img src="/Content/agedepierre.png" id="imgenbas" />
</body>
</html>
