@model Sondage.Models.nbVotesQuestionChoix
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Choix', 'Pourcentage'],
              @{ 
                  for (int i = 0; i < Model.ListeChoix.Count; i++)
                  {
                    @Html.Raw(string.Format(@"['{0}',{1}],", Model.ListeChoix[i], Model.NbVotesChoix[i]))
                  }
              }
              ]);
            var options = {
                backgroundColor: 'darkslategrey',


            };
                  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                  chart.draw(data, options);
        }
    </script>
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="/Sondage/Home">Accueil</a></li>
        <li><a href="/Sondage/Creation">Créer un sondage</a></li>
        <li><a href="/Sondage/SondagesPopulaires">Sondage populaires</a></li>
        <li><a href="/Sondage/SondagesRecents">Sondage récents</a></li>
        <li style="float:right"><a href="/Sondage/Contact">Contact</a></li>
    </ul>

    <div id="conteneur">
        <div id="texte">
            <h2>@Model.Question (@Model.NbVotesQuestion votes)</h2>
            <br />
            <br />
            <table>
                <tr>
                    <th>Choix</th>
                    <th>Nombre de votes</th>
                    <th>Pourcentage de votes</th>
                </tr>
                @{
                    int nbVotesTotal = 0;
                    foreach (var nbVotes in Model.NbVotesChoix)                    
                    {
                        nbVotesTotal = nbVotesTotal + nbVotes;
                    }
                    for (int i = 0; i < Model.ListeChoix.Count(); i++)
                    {
                        float percent = 0;
                        if (Model.NbVotesQuestion != 0)
                        {
                            if (Model.TypeChoix)
                            {
                                percent = (float)(Model.NbVotesChoix[i]) / (float)(nbVotesTotal) * 100;
                            }
                            else
                            {
                                percent = (float)(Model.NbVotesChoix[i]) / (float)(Model.NbVotesQuestion) * 100;
                            }
                        }
                        <tr>
                            <td>@Model.ListeChoix[i]</td>
                            <td>@Model.NbVotesChoix[i]</td>
                            <td>@percent %</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div id="piechart" style="width: 900px; height: 500px;"></div>       
    </div>


    @*"http://localhost:1093/Sondage/Vote?id=@Model.Id"*@
    <form class="retourVote">
        <input type="button" value="Retour à la page de vote" onclick="window.location.href = 'http://172.19.240.12:1093/Sondage/Vote?id=@Model.Id'"  />
    </form> 

    <img src="/Content/agedepierre.png" id="imgenbas" />
</body>
</html>
