@model Sondage.Models.nbVotesQuestionChoix
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Choix', 'Pourcentage'],
          ['@Model._ListeChoix[0]',@Model._NbVotesChoix[0]],
          ['@Model._ListeChoix[1]',@Model._NbVotesChoix[1]],
          ['@Model._ListeChoix[2]',@Model._NbVotesChoix[2]],
          ['@Model._ListeChoix[3]',@Model._NbVotesChoix[3]]
        ]);
          var options = {
              backgroundColor: 'darkslategrey',
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Home">Créer un sondage</a></li>
        <li><a href="SondagesRecents">Sondage récents</a></li>
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>
        <li><a href="BoiteaIdees">Boîte à idées</a></li>
        <li style="float:right"><a href="Contact">Contact</a></li>
    </ul>
   
    <div id="conteneur">
        <div id="texte">
            <h2>@Model._Question (@Model._NbVotesQuestion votes)</h2>
            <br />
            <br />
            <div id="piechart" style="width: 640px; height: 400px;"></div>
            @{
                
                int longueurListe = Model._ListeChoix.Count();
                for (int i = 0; i < longueurListe; i++)
                {
                    float percent = 0;
                    if (Model._NbVotesQuestion == 0)
                    {

                    }
                    else
                    {
                        percent = (float)(Model._NbVotesChoix[i]) / (float)(Model._NbVotesQuestion) * 100;
                    }
                    @Model._ListeChoix[i]
                    <p> Nombre de votes : @Model._NbVotesChoix[i] Pourcentage : @percent</p>

                }
            }

           
        </div>
    </div>
   

    <img src="/Content/agedepierre.png" id="imgenbas" />
</body>
</html>
