@model Sondage.Models.nbVotesQuestionChoix
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Home">Créer un sondage</a></li>
        <li><a href="SondagesRecents">Sondage récents</a></li>
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>
        <li><a href="BoiteaIdees">Boîte à idées</a></li>
        <li style="float:right"><a href="Contact">Contact</a></li>
    </ul>
    <canvas id="myChart" width="800" height="600"></canvas>
    <script>
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Red",
                "Orange",
                "Yellow",
                "Green",
                "Blue"
            ]
        },
        options: {
            responsive: true
        }
    }; </script>
    <div id="conteneur">
        <div id="texte">
            <h2>@Model._Question (@Model._NbVotesQuestion votes)</h2>
            <br />
            <br />
            @{
                int longueurListe = Model._ListeChoix.Count();
                for(int i = 0; i < longueurListe; i++)
                {
                    
                    float percent = (float)(Model._NbVotesChoix[i]) /  (float)(Model._NbVotesQuestion) * 100;
                    @Model._ListeChoix[i]
                    <p> Nombre de votes : @Model._NbVotesChoix[i] Pourcentage : @percent</p>
                                        
                }
            }

           
        </div>
    </div>

    <img src="/Content/agedepierre.png" id="imgenbas" />

</body>
</html>
