@model Sondage.Models.QuestionsPopulaires
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />

</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Home">Créer un sondage</a></li>
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>
        <li><a class="active" href="SondagesRecents">Sondage récents</a></li>
        <li><a href="Vote">Sondage</a></li>
        <li style="float:right"><a href="Contact">Contact</a></li>

    </ul>

    <div>
        <h2 align="center">Sondages récents</h2>
        <table>
            <tr>
                <th>Question</th>
                <th>Nombre de votes</th>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[0]</td>
                <td>@Model._ListeNbVotes[0]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[1]</td>
                <td>@Model._ListeNbVotes[1]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[2]</td>
                <td>@Model._ListeNbVotes[2]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[3]</td>
                <td>@Model._ListeNbVotes[3]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[4]</td>
                <td>@Model._ListeNbVotes[4]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[5]</td>
                <td>@Model._ListeNbVotes[5]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[6]</td>
                <td>@Model._ListeNbVotes[6]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[7]</td>
                <td>@Model._ListeNbVotes[7]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[8]</td>
                <td>@Model._ListeNbVotes[8]</td>
            </tr>
            <tr>
                <td>@Model._ListeQuestions[9]</td>
                <td>@Model._ListeNbVotes[9]</td>
            </tr>
        </table>
    </div>

    <img src="/Content/agedepierre.png" id="imgenbas" />

</body>
</html>
